@charset "UTF-8";
@media screen and (min-width: 500px) and (max-width: 768px){
    #imgsolo{
        display: none;
    }
    #imgsolo2{
        display: none;
    }
    .protago{
        display: none;
    }
    .meio{
        display: inline-block;
        text-align: center;
        
    }
    .meio img{
        margin-right: 0px;
        padding-left: 18px;
    }
    h2{
        width: 100%;
    }
    #a1{
        display: none;
    }
    .a3{
        padding-right: 440px;
    }
    main{
        width: 100%;
        height: 100%;
    }
    #tex{
        width: 100%;
        height: 100%;
        padding: 0px;
    }
    #trax{
        width: 100%;
        padding: 0px;
    }
    #br{
        width: 100%;
        margin: 0px;
    }
    .f3{
        display: none;
    }
    #cr{
        margin: 0px;
    }
    #mx{
        margin: 0px;
        width: ;
        
    }
    #prax{
        padding-right: 430px;
    }
    #caiu1{
        display: none;
    }
    #caiu2{
        display: none;
    }
    #ultimo{
        display: none;
    }
    #kros{
        padding-left: 13px;
    }
    .protagoxx img{
        margin-right: 0px;
        padding-left: 16px;
    }
}