@charset "UTF-8";
@media screen and (min-width: 100px) and (max-width: 1330px){
    #d0{
        display: none;
    }
    #cr{
        margin: 0px;
        float: left;
    }
    #ain{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    #ainnn{
        width: 100%;
        margin: 0px;
        font-size: 18px;
    }
    #br{
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #212121;
    }
    div > #l1{
        width: 100%;
        max-width: 98%;
    }
    body{
        width: 100%;
    }
    div > .d1{
        width: 100%;
        max-width: 96%;
    }
    #br #mx{
        padding: 0px;
        text-align: center;
    }
    div #l1{
        margin-right: 0px;
    }
    #caiu1{
        display: none;
    }
    #caiu2{
        display: none;
    }
    .k9{
        padding-top: 3px;
    }
    #brow{
        margin-right: 25px;
    }
    #itens li{
        width: 80px;
    }
    #log li{
        width: 80px;
    }
}
