#mx{
    padding-left: 100px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-right: 0px;
    padding-right: 0px;
    width: 100%;
    text-align: center;
}
#canalha{
    width: 150px;
    font-size: 19px;
    display: block;
    text-align: initial;
    position: absolute;
    background-color: #3d3c3c;
    display: none;
}
#cr{
    border: rgb(116, 3, 3);
    border-width: 1px;
    border-style: solid;
    text-align: start;
    background-color: rgb(212, 32, 47);
    position: relative;
    color: rgb(0, 0, 0);
    float: left;
}
#cr:hover{
    color: rgb(224, 221, 221);
    display: none;
    cursor: pointer;
}
iframe{
    width: 400px;
    height: 270px;
}
.d8{
    background-color: #0E0E0E;
    width: 400px;
    height: 740px;
    display: inline-block;
    padding-left: 10px;
    position: absolute;
    border-bottom: 1px solid #212121;
    border-left: 1px solid #212121;
}
.j8{
    background-color: rgb(77, 76, 76);
    color: aliceblue;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 280px;
    border-radius: 10px;
    border-left: 6px solid rgb(212, 32, 47);
}
main{
    background-color: #0E0E0E;
    width: 885px;
    height: 700px;
    padding: 0px;
    display: inline-block;
    margin-top: 1px;
    margin-bottom: 3px;
    padding: 20px;
}
h2{
    width: 100%;
    height: 110px;
    background-color: #0E0E0E;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h2 > p{ 
    margin: 0px;
    margin-left: 30px;
}
h2 img{
    margin-left: 40px;
    width: 35px;
    border-radius: 50%;
    margin-top: 10px;
}
.f3:hover{
    color: red;
}
.f3{
    text-decoration: none;
    padding-top: 10px;
    width: 100%;
    margin: 0px;
    border-top: 1px solid #212121;
    border-bottom: 1px solid #212121;
    text-align: center;
}
h2{
    background-image: url('Icons/573701.jpg');
    background-position: center center; 
    background-size: 80%;
}
h2 img:hover{
    transform: translate(-3px, -3px);
}
menu{
    display: none;
    padding: 0px;
}

body{
    background-color: #0E0E0E;
    color: rgb(0, 0, 0);
    background-position: right;
    display: block;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
#p1{
    display: inline-block;
    width: 180px;
    height: 276px;
}
#p2{
    display: inline-block;
    background-color: #0E0E0E;
    text-align: justify;
    text-indent: 10px;
    margin-top: 8px;
    color: #e6e3e3;
    border-top: solid 1px #5c5c5c;
    border-bottom: solid 1px #5c5c5c;
}
p{
    font-size: 17px;
}
.d1{
    width: 850px;
    height: 40px;
    margin: 10px 0px 0px 0px;
    background-color: #1d1c1c;
    padding-top: 10px;
    border-left: 4px solid rgb(226, 42, 42);
    border-right: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    border-top: 2px solid rgb(0, 0, 0);
}
#l1{
    width: 850px;
    height: 40px;
    margin: 10px 0px 0px 0px;
    background-color: #1d1c1c;
    padding-top: 10px;
    border-left: 4px solid rgb(80, 90, 231);
    border-right: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    border-top: 2px solid rgb(0, 0, 0);
}
#l1 > a{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: aliceblue;
    display: inline-block;
    padding-left: 10px;
}
#l1 a:hover{
    color: rgb(218, 221, 22);
    cursor: pointer;
}
.d1 > a{
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: aliceblue;
    margin: 10px;
    display: inline-block;
}
div a{
    text-decoration: none;
    color: aliceblue;
}
.d8 div a:hover{
    color: rgba(250, 235, 33, 0.945);
    text-decoration: underline;
}
.d1 a:hover{
    color: rgb(226, 42, 42);
}
.p8{
    background-color: rgb(77, 76, 76);
    color: aliceblue;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 280px;
    border-radius: 10px;
    border-left: 6px solid rgb(212, 32, 47);
}
h2 > p{
    font-size: 30px;
    text-align: center;
    color: rgb(212, 32, 47);
}
.k1:hover{
    color: rgba(250, 235, 33, 0.945);
    text-decoration: underline;
}
#perfil{
    width: 28px;
    border-radius: 50%;
    
    display: inline-block;
}
menu li{
    color: aliceblue;
    list-style-type: none;
    background-color: rgb(212, 32, 47);
    padding: 10px;
    margin: 10px;
    width: 150px;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
menu{
    margin: 0px;
    padding: 0px;
    text-align: center;
    display: none;
    background-image: url('../Icons/84631\ \(1\).jpg');
    background-position: center center;
}
menu ul{
    margin: 0px;
    padding: 0px;
    display: inline-block;
}
menu h4{
    color: rgb(80, 90, 231);
    font-size: 40px;
    height: 70px;
    margin-top: 10px; 
    display: block;
    text-decoration: underline;
    margin-bottom: 10px;
}
menu h3{
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-top: 20px; 
    display: inline-block;
    background-color: #212121;
    padding-right: 50px;
    }
#perfil:hover{
    cursor: pointer;
}
#procura{
    width: 150px;
    background-color: #3d3c3c;
    display: inline-block;
    margin: 0px;
    padding-top: 3px;
    border: 0px;
    padding-bottom: 1px;
    border: solid 1.5px rgb(90, 89, 89);
    border-right: 0px;
}
#mg{
    float: right;
    display:  inline-block;
}
#mx{
    text-decoration: none;
}
.k9{
    background-color: #c0bdbd;
    border: solid 1.9px rgb(90, 89, 89);
    border-left: 0px;
}
.one{
    display: none;
}
div img:hover{
    transform: translate(1px, 1%)
}
div > li{
    list-style: none;
    display: inline-block;
    text-align: center;
    margin:auto;
    font-family: monospace;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 5px;
    margin-left: 6px;
}
div li:hover{
    border-bottom: solid 2px royalblue;
    cursor: pointer;
}
ul > li a:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
}
h4{
    color: rgb(80, 90, 231);
    font-size: 40px;
    margin-top: 20px; 
    display: block;
    text-decoration: underline;
}
#log{
    background-image: url('../Icons/1054068.jpg');
    background-position: center;
}
.d8 img:hover{
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out
}
.d1lado{
    display: inline-block;
    margin: 0px;
    text-align: center;
    padding: 8px;
    padding-left: 20px;
}
div a img{
    width: 100px;
    height: 120px;
}
a > p{
    margin: 0px;
}
#onep{
    padding-left: 30px;
    padding-right: 15px;
}
#braj{
    float: right;
    display: block;
    width: 100px;
}
ul li a{
    text-decoration: none;
    color: aliceblue;
}
ul > li > a:hover{
    color: #0E0E0E;
}
li{
    margin: 0px;
}
ul{
    margin: 0px;
}
.cachorro{
    margin: 0px;
    margin-left: 5px;
    color: rgb(45, 166, 182); 
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    border: #636060 1px solid;
    width: 90%;
    margin-bottom: 20px;
}
#grad{
    width: 60%;
    height: 40px;
    background-color: #3d3c3c;
    padding-left: 15px;
}
#dog{
    color: rgb(189, 30, 70); 
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
    padding-top: 10px;
}
#iframe1{
    width: 50px;
    height: 50px;
    float: inline-start;
}
#cat{
    padding-left: 15px;
    border-bottom: solid rgb(90, 89, 89) 1px;
}
#publico{
    margin-bottom: 5px;
}
#publicc{
    margin-left: 10px;
}
#charm{
    color: rgb(201, 20, 20);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.protagoxx{
    display: inline-block;
    margin: 0px;
    padding-left: 25px;
    text-align: center;
    margin-top: 25px;
}
#master{
    width: 98%;
    margin-bottom: 20px;
    margin-top: 25px;
    padding-bottom: 10px;
    
}
#cant{
    margin-left: 20px;
    font-size: 20px;
    margin-top: 10px;
    width: 60%;
}
#mg{
    text-align: center;
    float: right;
}
#procura:focus{
    background-color: #3d3c3c;
}
#canalha li{
    border-bottom: hidden 2px #5c5c5c;
    color: aliceblue;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: justify;
    padding-left: 3px;
    
    border-bottom: solid 1px #251f1f;
}
#canalha li:hover{
    background-color: #251f1f;
}
#master a:hover{
    color: rgba(250, 235, 33, 0.945);
    text-decoration: underline;
}
#master img:hover{
    opacity: .3;
}
#mister{
    width: 1330px;
}
#will{
    width: 100%;
    height: 100%;
    background-color: #0E0E0E;
    float: left;
}
#text{
    padding-left: 5px;
    padding-right: 10px;
}
#jg{
    position: relative;
    float: left;
    padding: 7px;
}
#tit{
    font-size: 27px;
    color: aliceblue;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #3d3c3c;
}
#tho div{
    background-color: #413e3e;
    border: 2px solid #837f7f;
    padding: 2px;
    color: rgb(223, 10, 20);
    margin-top: 10px;
    margin-bottom: 24px;
    width: 50px;
    display: inline-block;
    height: 24px;
    margin-left: 6px;
}
.gener a{
    color: rgb(29, 216, 29);
    background-color: #413e3e;
    border: 2px solid #918f8f;
    padding: 2px;
    display: inline-block;
    margin: 5px;
    font-size: 14px;
}
.gener{
    display: inline-block;
    padding-top: 10px;

}
#toxic{
    border-top: 1px solid #3d3c3c;
}
